<h3><%= title %> </h3>

<table id="tasks" class="display">
  <thead>
    <tr>
      <th>Title</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% tasks.each do |task| %>
      <td><%= task.title %></td>
      <td><%= task.owner.english_name %></td>
    <% end %>
  </tbody>
</table>