<h3>Owned by me</h3>

<% @owned_tasks.each do |task| %>
	<%= render "tasks/preview", task: task %>
<% end %>

<h3>Reported by me</h3>
<% @report_tasks.each do |task| %>
	<%= render "tasks/preview", task: task %>
<% end %>

<h3>Reported by me table</h3>
<table class="tasks display">
  <thead>
    <tr>
      <th>Title</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @report_tasks.each do |task| %>
      <td><%= task.title %></td>
      <td><%= task.owner.english_name %></td>
    <% end %>
  </tbody>
</table>