<h3>Owned by me</h3>

<% @owned_tasks.each do |task| %>
	<%= render "tasks/preview", task: task %>
<% end %>

<h3>Reported by me</h3>
<% @report_tasks.each do |task| %>
	<%= render "tasks/preview", task: task %>
<% end %>