<% if current_user.manager? %>
  <ul class="nav nav-list">
    <li class="nav-header">Supervisor</li>
    <li><a href="#">Task Management</a></li>
    <li><a href="#">Task Assignment</a></li>
    <li><a href="#">Evaluation</a></li>
    <li><a href="#">List of Assigned Tasks</a></li>
  </ul>
<% end %>

<ul class="nav nav-list">
  <li class="nav-header">Assignments</li>
  <li><%= link_to "New Tasks", pages_path(filter: 'assign')  %></li>
  <li><%= link_to "Tasks in progress", pages_path(filter: 'progress') %></li>
  <li><a href="#">Waiting to be evaluated</a></li>
</ul>